@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&family=DM+Serif+Display&family=Inter:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
* {
  margin: auto;
  border: 0;
  font-family: DM sans;
}
h3 {
  font-weight: 700;
  font-size: 70px;
  height: 44px;
  color: #333;
  padding-top: 15px;
  padding-bottom: 25px;
}
h4 {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  font-size: 32px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

p {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  height: 20px;
  text-align: center;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.layout-block-container {
  max-width: 940px;
}
